<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors defaultRedirect="https://thechaoskings.com/errors/CustomError.html" mode="On" redirectMode="ResponseRewrite">
            <error redirect="https://thechaoskings.com/404.html" statusCode="404" />
        </customErrors>
    </system.web>
    <location path="404.html">
        <system.webServer>
            <httpErrors>
                <remove statusCode="404" subStatusCode="-1" />
                <error statusCode="404" prefixLanguageFilePath="%SystemDrive%\inetpub\wwwroot\thechaoskings" path="404.html" responseMode="File" />
            </httpErrors>
        </system.webServer>
    </location>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/404.hltml" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
